[data-theme="dark"] .related-container h3, [data-theme="dark"] .outfit-container h3 {
    font-size: 36px;
    background: linear-gradient(to bottom, var(--accent-five) 40%, red 100%);
    background-clip: text;
    font-family: 'Creepster';
    -webkit-text-fill-color: transparent;
      /* text-shadow: 2px 2px var(--accent-nine); */
}

.related-comp-wrapper {
  width: 100%;
}

.price-tag-container {
  display: inline-flex;
  gap: 0.75rem;
}

.price-tag-container > p {
  font-size: x-small;
}

.related-container > button {
  all: unset;
}

.related-container {
  margin: 2rem 2rem 2rem 0;
}

.related-container h3,
.outfit-container h3 {
  margin-bottom: 1rem;
  margin-top: -.5rem;
}

.outfit-container {
  margin: 2rem 2rem 2rem 0;
}
.outfit-container > button {
  all: unset;
}

.comparison-container {
  margin: 1rem;
  background: black;
}

.action-item-btn {
  all: unset;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-three);
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  padding: 0.25rem;
  z-index: 3;
}

.fa-xs::before {
  color: var(--accent-nine);
}

.fa-xmark::before {
  color: var(--accent-nine);
}

.action-item-btn:hover {
  cursor: pointer;
}

.add-outfit-btn {
  all: unset;
  text-align: center;
  cursor: pointer;
}

/* Horizontal scroll container */
.cards-container {
  display: flex;
  overflow-x: auto;
  gap: 0.35rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.product-card-container {
  all: unset;
  width: 11rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: var(--accent-one);
  position: relative;
}

.related-product-card {
  cursor: pointer;
}

.product-card-content {
  position: relative;
}

.product-card-content {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 11rem;
  height: 15rem;
}

.product-card-img {
  min-height: 55%;
  max-height: 55%;
  object-fit: cover;
}

.product-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.6rem;
}

.product-card-details > p {
  font-size: x-small;
}

.product-card-details > h5 {
  font-size: medium;
  line-height: 80%;
}

.compare-item-btn {
  all: unset;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 6;
  background-color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--transparent-bg);
  display: flex;
  justify-items: center;
  align-items: center;
}


.modal-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 85dvh;
  min-width: 60dvw;
  position: relative;
  overflow-y: auto;
}

.modal-content h1 {
  text-align: left;
  padding-bottom: 1rem;
}

.comparsion-table {
  margin: 2rem auto;
}

.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.comparsion-table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.comparsion-table > thead,
tfoot {
  background-color: rgb(148, 148, 148);
}

.rating-stars-row {
  display: inline-flex;
  justify-content: center;
}

.comparsion-table h1 {
letter-spacing: 1rem;
color: var(--text);
background-color: var(--accent-one);
width: 99.5%;
display: flex;
align-items: center;
justify-content: center;
padding-top: .5rem;
}

.compareCaption {
  background-color: var(--accent-one);
}

[data-theme="dark"]  .comparsion-table h1 {
  font-size: 72px;
  background: linear-gradient(to bottom, var(--accent-five) 15%, red 100%);
  background-clip: text;
  font-family: 'Creepster';
  -webkit-text-fill-color: transparent;
    /* text-shadow: 2px 2px var(--accent-nine); */
}

.comparsion-table th {
  height: 2.5rem;
}

.comparsion-table > th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
  width: 15dvw;
}

.comparsion-table > td:last-of-type {
  text-align: center;
}

.comparsion-table tr:nth-of-type(even) {
  background-color: var(--accent-one);
  color: var(--text);
}

.comparsion-table tr:nth-of-type(odd) {
  background-color: var(--accent-four);
  color: var(--text);
}


.cards-scroller {
  position: relative;
}

.left-scroll-btn {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  background: linear-gradient(90deg, rgba(245,245,245, 1) 10%, rgba(255,255,255,0) 100%);
  border:none;
  z-index: 5;
}

.right-scroll-btn {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  z-index: 5;
  background: linear-gradient(270deg, rgba(245,245,245, 1) 10%, rgba(255,255,255,0) 100%);
  border: none;
}



.product-card-details > h4 {
  line-height: 110%;
}