i:before {
  display: inline
}

.rating-container {
  display: flex;
  /* gap: 1rem; */
}

.star-wrapper {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .125rem
}

.star-back {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.star-front {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  white-space: nowrap;
}

.reviewFooter {
  display: flex;
  gap: 4px
}

.reviewFooter>small {
  font-size: 11px;
}

.reviewFunctionalityButton {
  width: 8rem;
  height: 4rem;
  background-color: transparent;
  cursor: pointer;

}

.reviewButtonRow {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

a {
  color: steelblue
}

.collapsedReviewBody, .expandedReviewBody {
  font-size: 14px;
}

.reviewSortOptionsHeader {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.ratingBreakdown {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.ratingBreakdownSummary {
  display: flex;
  gap: 1rem;
}

.ratingBreakdownSummary>div {
  margin-top: .25rem;
  margin-left: .5rem
}

.ratingBreakdownSummary>h1 {
  font-size: 48px;
  letter-spacing: 2px;
}

.ratingBreakdownList {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: .5rem;
}

.ratingRow {
  display: flex;
  justify-content: start;
  align-items: center;
}

.ratingRow>a {
  width: 25%;
  color: black
}

.ratingsBar {
  height: .5rem;
  width: 75%;
}

.reviewsLeft {
  width: 25%
}

.reviewsRight {
  max-height: 100vh;
  overflow-y: scroll;
  width: 75%
}

.reviewsLeft, .reviewsRight {
  display: flex;
  flex-direction: column;
}

.rating-review-wrapper {
  min-width: 40vw;
}

.button-link {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  width: auto;
  cursor: pointer;
  margin: 0 .25rem;
}
.button-link.small {
  font-size: 10px
}