i:before {
  display: inline
}

.img {
  object-fit: contain;
}

.rating-container {
  display: flex;
  /* gap: 1rem; */
}

.rating-container>* {
  color: rgba(82,82,82);
}

.star-wrapper {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .125rem
}

.star-back {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px rgba(82,82,82);
}

.star-front {
  color: rgb(227, 100, 20);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  white-space: nowrap;
}

.reviewTile {
  padding: 1rem;
  border-bottom: 1px solid var(--text);
  margin: .5rem;
}

.reviewTileHeader small {
  color: var(--text);
}

.reviewBody {
  color: var(--text);
}

.reviewRecommend {
  color: var(--text);
  padding: .25rem 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.reviewSummary {
  font-weight: bold;
  color: var(--text);
}

.reviewFooter {
  display: flex;
  gap: .25rem;
  color: var(--text);
}

.reviewFooter>small {
  font-size: .6875rem;
}

.reviewFunctionalityButton {
  width: 8rem;
  height: 4rem;
  background-color: transparent;
  border: 2px solid var(--accent-eight);
  cursor: pointer;
  color: var(--text);

}

.reviewButtonRow {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.collapsedReviewBody, .expandedReviewBody {
  font-size: .875rem;
  overflow-wrap: break-word;
  padding: .25rem 0;
}

.reviewSortOptionsHeader {
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--text);
}

#ratingsSelect {
  color: var(--text);
}

.ratingBreakdown {
  display: flex;
  flex-direction: column;
}

.ratingBreakdown small {
  color: var(--text);
}

.ratingBreakdownSummary {
  display: flex;
  gap: 1rem;
  color: var(--text);
}

.ratingBreakdownSummary>div {
  margin-top: .25rem;
  margin-left: .5rem
}

.ratingBreakdownSummary>h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.ratingBreakdownSummary small {
  color: var(--text);
}

.ratingBreakdownList {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  gap: .5rem;
}

.ratingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .25rem 0;
}

.ratingRow>button {
  width: 25%;
  color: var(--text);
  cursor: pointer;
}

.ratingRow>button:hover {
  outline: double 1px var(--accent-five);
}

.ratingsBar {
  height: .5rem;
  width: 80%;
}

.reviewsLeft {
  width: 25%
}

.reviewsRight {
  width: 75%
}

.reviewList {
  max-height: 95vh;
  overflow-y: scroll;
}

.reviewsLeft, .reviewsRight {
  display: flex;
  flex-direction: column;
}

.rating-review-wrapper {
  min-width: 72.25rem;
}

.button-link {
  border: none;
  background: none;
  color: var(--text);
  border-bottom: 1px solid var(--text);
  cursor: pointer;
  margin: 0 .25rem;
  z-index: 10;
}

.button-link-top {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 .25rem;
  z-index: 10;
  font-size: .75rem;
}

.button-link-top:hover {
  outline: var(--accent-five) double 1px
}

.button-link:hover {
  cursor: pointer;
}

.button-link.small {
  font-size: 0.625rem;
}

.picturesContainer>div {
  /* box-shadow: 0 0 5px 2px black; */
  box-sizing: border-box;
  border-radius: 10px;
}

.closed {
  display: none;
}

.showPicture {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent-bg);

}

[data-theme="dark"] .modelFrame {
  background-color: black;
}

[data-theme="dark"] .neat-line {
  border-color: var(--accent-six);
}

[data-theme="light"] .modelFrame {
  background-color: black;
}

.modelPictureContainer {
  background: var(--accent-four);
  margin: auto;
  width: auto;
  z-index: 4;
  padding: .55rem;
  border: 1px solid rgba(255,255,255,.33);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  display: flex;
  justify-content: end;

}

.innerModelPicture {
  max-width: 50vw;
  max-height: 75vh;
  object-fit: contain;
  border-radius: 1rem;
}

.reviewModelClose {
  position: absolute;
  padding: .25rem;
  border-radius: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: .25rem;
  background: rgba(0, 0, 0, 0.33);
  border: none;
  color:var(--transparent-bg);
  cursor: pointer;

}

.productBreakdownBlock {
  width: 100%;
  margin: .5rem 0;
}

.productBreakdownBlock small {
  font-size: 13px;
  color: var(--text);
}

.productBreakdownBlock i {
  color: var(--accent-eight)
}

.productBreakdownRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productBreakdownRow>small {
  font-size: 11px;
}

.ratingTriangle {
  font-size: .8675rem;
}

.productBreakdownThird {
  width: 33%;
  height: .5rem;
  background: gray;
}

.add-review-modal {
  position: relative;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  padding: 1rem 0 .5rem 0;
  background: var(--accent-one);
  border-radius: 1rem;
  max-width: 50vw;
  min-width: 50vw;
  min-height: 85vh;
  gap: auto;
  align-content: start;
}

.neat-line {
  position: absolute;
  background: none;
  height: 100%;
  border-left: 3px solid gray;
  left: 1.65rem;
}

.first-line {
  height: 90%;
  top: 15%;
}

.last-line {
  height: 12%;
}


.add-review-section {
  position: relative;
  height: 4rem;
}

.add-review-section.active {
  background: var(--accent-two);
  height: auto;
  position: relative;
}

.add-review-header-box {
  border-bottom: 2px solid var(--text);
  height: 4.5rem;
}

.add-review-header {
  padding: .5rem;
}

.add-review-section-row {
  margin: .5rem .5rem .5rem 1rem;
}

.add-review-section-bubble {
  z-index: 1;
  border: 1px solid var(--text);
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background: var(--accent-four);
  color: var(--accent-nine);
}

.add-review-section-title {
  margin-left: 2rem;
}

.add-review-section-header {
  display: flex;
  align-items: center;
}

.add-review-section-status {
  position: absolute;
  right: 2rem;
}

.add-review-section-content {
  padding-left: 4.5rem;
  box-sizing: border-box;
}

.add-review-section-footer {
  display: flex;
  justify-content: start;
  margin: 1rem 1rem 1rem 1rem;
  gap: 12%;
  min-height: 1.5rem;
}

.add-review-section-footer>button {
  background-color: rgba(235,235,245);
  padding: .25rem;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: bold;
}

.userRating {
  display: flex;
  align-items: center;
}

.characteristicVoteBox {
  width: 20%;
  margin: .5rem 0;
}

.characteristicHeader {
  padding: .5rem 0 0 .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .25rem;
}

.characteristicHeader > h4 {
  width: 3rem;
}

.changeCharBtnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  position: absolute;
  left: 4%;
  top: 12%;
  gap: 1.5rem;
  background: transparent;
}

.changeCharBtnBox>button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  transform: scaleX(2.5);
}

.drag-drop {
  width: 40%;
}

.upload-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.document-uploader {
  border: 2px dotted gray;
  background-color: var(--accent-two);
  padding: 1rem;
  margin: 0 .5rem .5rem .5rem;
}

.upload-box {
  background: var(--accent-three);
  color: var(--accent-eight)
}

.fa-check, .fa-x {
  font-size: .5rem;
  border-radius: 1rem;
  padding: .33rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-check {
  color: white;
  background-color: green;
}

.fa-x {
  color: white;
  background-color: red;
}

.file-list-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.file-info {
  position: relative;
}

.file-list-container>div>div>img {
  box-shadow: var(--light-box-shadow)
}

.uploadImageRemoveBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .5rem;
  cursor: pointer;
}

.reviewIcon {
  height: 1.5rem;
  width: 1.5rem;
  font-size: .75rem;
  font-weight: bold;
}

.smallIcon, .inputChecks {
  font-size: .5rem;
  height: 1rem;
  width: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.smallIcon {
  position: absolute;
  left: 4.25rem;
}

.charStepActive {
  /* background: rgba(245,235,235) */
  margin: .5rem 0;
}

.active  div .add-review-section-bubble {
  transform: scale(1.2);
}

input[type=radio]:checked {
  accent-color: black;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: rgb(235, 235, 245);
}

textarea:focus {
  background-color: rgb(235,235,245);
}

