i:before {
  display: inline
}

.img {
  object-fit: contain;
}

.rating-container {
  display: flex;
  /* gap: 1rem; */
}

.rating-container>* {
  color: rgba(82,82,82);
}

.star-wrapper {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .125rem
}

.star-back {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px rgba(82,82,82);
}

.star-front {
  color: #f77f00;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  white-space: nowrap;
}

.reviewFooter {
  display: flex;
  gap: .25rem;
}

.reviewFooter>small {
  font-size: .6875rem;
}

.reviewFunctionalityButton {
  width: 8rem;
  height: 4rem;
  background-color: transparent;
  cursor: pointer;

}

.reviewButtonRow {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

a {
  color: steelblue
}

.collapsedReviewBody, .expandedReviewBody {
  font-size: .875rem;
  overflow-wrap: break-word;
  padding: .25rem 0;
}

.reviewSortOptionsHeader {
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.ratingBreakdown {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.ratingBreakdownSummary {
  display: flex;
  gap: 1rem;
}

.ratingBreakdownSummary>div {
  margin-top: .25rem;
  margin-left: .5rem
}

.ratingBreakdownSummary>h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.ratingBreakdownList {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  gap: .5rem;
}

.ratingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .25rem 0;
}

.ratingRow>button {
  width: 25%;
  color: black;
  cursor: pointer;
}

.ratingsBar {
  height: .5rem;
  width: 80%;
}

.reviewsLeft {
  width: 25%
}

.reviewsRight {
  width: 75%
}

.reviewList {
  max-height: 95vh;
  overflow-y: scroll;
}

.reviewsLeft, .reviewsRight {
  display: flex;
  flex-direction: column;
}

.rating-review-wrapper {
  min-width: 72.25rem;
}

.button-link {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: 0 .25rem;
  z-index: 10;
}

.button-link:hover {
  cursor: pointer;
}

.button-link.small {
  font-size: 0.625rem;
}

.picturesContainer>div {
  /* box-shadow: 0 0 5px 2px black; */
  box-sizing: border-box;
  border-radius: 10px;
}

.closed {
  display: none;
}

.showPicture {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22,22,22,0.5);

}

.modelPictureContainer {
  background: rgba(22,22,22,1);
  margin: auto;
  width: auto;
  z-index: 4;
  padding: .55rem;
  border: 1px solid rgba(255,255,255,.33);
  box-shadow: 0 0 10px 10px rgba(0,0,0,.5);
  border-radius: 1rem;
  display: flex;
  justify-content: end;

}

.innerModelPicture {
  max-width: 50vw;
  max-height: 75vh;
  object-fit: contain;
  border-radius: 1rem;
}

.reviewModelClose {
  position: absolute;
  padding: .25rem;
  border-radius: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: .25rem;
  background: rgba(0, 0, 0, 0.33);
  border: none;
  color:white;
  cursor: pointer;

}

.productBreakdownBlock {
  width: 100%;
  margin: .5rem 0;
}

.productBreakdownBlock>small {
  font-size: 13px;
}

.productBreakdownRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productBreakdownRow>small {
  font-size: 11px;
}

.ratingTriangle {
  font-size: .8675rem;
}

.productBreakdownThird {
  width: 33%;
  height: .5rem;
  background: gray;
}

.addReviewBox {
  background: white;
  width: 50vw;
  height: 80vh;
  padding: 1rem;
  border-radius: 1rem;
}

.characteristicVoteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.characteristicVoteBox>* {
  font-size: .75rem;
}
