.main-image-container {
  max-width: 450px;
  height: 700px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  box-shadow:
    #000000 0px 20px 30px -10px,
    #80ff0086 0px 5px 15px -5px;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.thumbnails-gallery {
  margin: 30px 6px 0 0;
  cursor: pointer;
}

.thumbnail-col {
  display: flex;
  flex-direction: column;
}

.thumbnail-row {
  display: flex;
}

.thumbnails {
  height: 80px;
  width: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: 8px 8px;
  border: black solid 1px;
  box-shadow:
    #070707 0px 20px 30px -10px,
    #80ff00b0 0px 5px 10px -5px;
}

.thumbnails:hover {
  outline: double 4px rgb(118, 200, 227);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.enlarged-image {
  min-width: 80%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

.image-container {
  position: relative;
}

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 30rem;
  height: 35rem;
}

.carousel-item {
  all: unset;
  height: 35rem;
  min-width: 100%;
  position: relative;
  object-fit: cover;
  overflow:hidden;
  transition: 1s cubic-bezier(0.39, 0.45, 0.565, 1);
}

.carousel-item-img {
  height: 35rem;
  min-width: 100%;

}

/* TODO: these buttons sometimes 'disapear' in the background of the img */

.gallery-right-btn {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  z-index: 5;
  border: none;
  background: none;
  color: white;
  background-color: #0000000d;
}

.gallery-left-btn {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  z-index: 5;
  border: none;
  color: white;
  background-color: #0000000d;
}

.thumbnails-gallery button {
  all: unset;
}