.drop-down-menus {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin: 2px 0;
}

select:disabled {
  background-color: #aaaaaa;
  color: #ffffff;
  cursor: not-allowed;
  border-bottom: #aaaaaa;
  padding: 4px 8px;
  background-image: none;
}

select option[disabled] {
  color: #999;
}