.selector-components {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hr-class {
  background-color: transparent;
  text-align: center;
  margin: 5px 0;
  border: 2px solid transparent;
  box-shadow: 0 2px 3px .2px var(--transparent-bg);
}

.purchase-div {
  display: flex;
  justify-content: center;
  margin: 2px 0;
  padding: 4px;
  align-items: center;
}

.info-choices-container {
  margin-left: 2rem;
}

.product-name {
  font-size: 2.5em;
}

[data-theme="dark"] .product-name {
  background: linear-gradient(to bottom, var(--accent-five) 40%, red 100%);
  background-clip: text;
  font-family: 'Creepster';
  -webkit-text-fill-color: transparent;
}

.category {
  display: flex;
  width: 40%;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: -.375rem;
  gap: 1rem;
}

.ratings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 2px;
}

.rate-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-theme="dark"] .details-title,
[data-theme="dark"] .about-item,
[data-theme="dark"] .category p {
  background: linear-gradient(to bottom, var(--accent-five) 40%, red 100%);
  background-clip: text;
  font-family: 'Creepster';
  -webkit-text-fill-color: transparent;
}

.review-links {
  display: flex;
  width: 100%;
  margin-left: 20px;
  justify-content: space-between;
}

.total-rat,
.sel-reviews {
  text-decoration: none;
}

.details-li {
  display: flex;
}

.li-div1 {
  width: 40%;
}

.li-div2 {
  width: 60%;
}

.icon-div {
  width: 100%;
  color: blue;
  display: flex;
  justify-content: start;
  font-size: xx-large;
  gap: 2rem;
  margin-top: 1.5rem;
}

.social-icons {
  cursor: pointer;
}

.red {
  color: red;
}

.button-link-top {
  color: var(--text);
  text-decoration: underline;
}

.star-num {
  margin-right: 3px;
  font-weight: 700;
}

.price-sale-div {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

.price-nosale-div {
  margin: 3px 0;
}

.percent-discount {
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

.black {
  color: var(--accent-eight);
}

.price-div {
  font-weight: 600;
}

.price {
  font-size: x-large;
  margin-right: 2px;
}

.details-container {
  margin: 4px 0;
}

.about-item-cont {
  margin: 2px 0;
}

.slogan {
  margin: 4px 0;
}

.selector-container-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selector-functional-components {
  display: flex;
}

:root {
  --text-color-start: orange;
  --text-color-end: rgb(114, 0, 0);
  --bubbles: red;
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: black;
  --bg-color: orange;
  --speed: 0.15s;
}

.styled-button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Creepster";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  background-image: linear-gradient(to bottom, var(--text-color-start), var(--text-color-end) 70%);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

.styled-button:active {
  color: red;
}

.styled-button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
.styled-button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

.styled-button::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right {
  left: 66%;
}

.left {
  right: 66%;
}

.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  background-color: var(--bg-color);
  color: transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

.styled-button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg);
}

.styled-button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

.styled-button .left:hover~.right::after {
  transform: translate(0, -50%) rotate(7deg);
}

.styled-button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--bubbles) 3px, var(--bubbles) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--bubbles) 3px, var(--bubbles) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--bubbles) 5px, var(--bubbles) 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 2s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }

  to {
    transform: translate(0, -66.666%);
  }
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 0px 20px;
  background-color: #adadaf;
  border: none;
  cursor: pointer;
  overflow: hidden;
  perspective: 1000px;
}

.btn-flip:active::after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:active::before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #adadaf;
  display: block;
  transition: var(--speed);
  position: absolute;
  background: #333732;
  content: attr(data-back);
  transform: translateY(-70%) rotateX(90deg);
  backface-visibility: hidden;
}

.btn-flip::before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #323237;
  display: block;
  padding: 0px 30px;
  line-height: 40px;
  transition: var(--speed);
  position: relative;
  background: #adadaf;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
  backface-visibility: hidden;
}
