.selector-container-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selector-components {
  padding: 20px 0;
  width: 100%;
  display: flex;
}

.hr-class {
  background-color: transparent;
  text-align: center;
  margin: 5px 0;
  border: 2px solid transparent;
  box-shadow:
    0 2px 3px .2px rgba(0, 0, 0, .3);
}

.selector-functional-components {
  width: 50%;
  display: flex;
}

.info-choices-container {
  width: 50%;

}

.product-name {
  font-size: 2.5em;
}

.category {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-weight: 800;
  margin-top: 5px;
}

.ratings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.rate-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars-div {
  font-size: larger;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

.stars-solid-cont {
  display: flex;
}

.stars-solid {
  display: inline-block;
  background: goldenrod;
  background-clip: text;
  color: transparent;
}

.star-part {
  display: inline-block;
  background-clip: text !important;
  color: transparent !important;

}

.stars-hollow {
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  /* text-shadow:
    0.005px 0 0 goldenrod,
    -0.005px 0 0 goldenrod,
    0 0.005px 0 goldenrod,
    0 -0.005px 0 goldenrod; */

}

.review-links {
  display: flex;
  width: 100%;
  margin-left: 20px;
  justify-content: space-between;
}

.total-rat {
  text-decoration: none;
}

.sel-reviews {
  text-decoration: none;
}

.details-li {
  display: flex;
}

.li-div1 {
  width: 40%;
}

.li-div2 {
  width: 60%;
}

.icon-div {
  width: 100%;
  color: blue;
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  margin-top: 10px;
}

.social-icons {
  cursor: pointer;
}

.red {
  color: red;
}

.price-sale-div {
  display: flex;
  justify-content: space-between;
}
.sale-price {

}
.percent-discount {
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}
.strikethrough {
  text-decoration: line-through;
}
.black {
  color: var(--accent-eight)
}