.selector-container-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selector-components {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-class {
  background-color: transparent;
  text-align: center;
  margin: 5px 0;
  border: 2px solid transparent;
  box-shadow:
    0 2px 3px .2px var(--transparent-bg)
}

.selector-functional-components {
  display: flex;
}

.info-choices-container {
  /* width: 50%; */
}

.product-name {
  font-size: 2.5em;
}

[data-theme="dark"]  .product-name {
  background: linear-gradient(to bottom, var(--accent-five) 40%, red 100%);
  background-clip: text;
  font-family: 'Creepster';
  -webkit-text-fill-color: transparent;
}

.category {
  display: flex;
  width: 40%;
  font-weight: 800;
  margin-top: 5px;
  gap: 1rem;
}

.ratings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 2px; /* Merged duplicate definitions */
}

.rate-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars-div {
  font-size: larger;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

.stars-solid-cont {
  display: flex;
}

.stars-solid {
  display: inline-block;
  background: goldenrod;
  background-clip: text;
  color: transparent;
}

.star-part {
  display: inline-block;
  background-clip: text !important;
  color: transparent !important;

}

.stars-hollow {
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  /* text-shadow:
    0.005px 0 0 goldenrod,
    -0.005px 0 0 goldenrod,
    0 0.005px 0 goldenrod,
    0 -0.005px 0 goldenrod; */

}

[data-theme="dark"]  .details-title,
[data-theme="dark"] .about-item,
[data-theme="dark"] .category p {
  background: linear-gradient(to bottom, var(--accent-five) 40%, red 100%);
  background-clip: text;
  font-family: 'Creepster';
  -webkit-text-fill-color: transparent;
}


.review-links {
  display: flex;
  width: 100%;
  margin-left: 20px;
  justify-content: space-between;
}

.total-rat, .sel-reviews {
  text-decoration: none;
}

.details-li {
  display: flex;
}

.li-div1 {
  width: 40%;
}

.li-div2 {
  width: 60%;
}

.icon-div {
  width: 100%;
  color: blue;
  display: flex;
  justify-content: start;
  font-size: xx-large;
  gap: 2rem;
  margin-top: 1.5rem;
}

.social-icons {
  cursor: pointer;
}

.red {
  color: red;
}

.button-link-top {
  color: var(--text);
  text-decoration: underline;
}

.star-num {
  margin-right: 3px;
  font-weight: 700;
}

.price-sale-div {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}
.price-nosale-div {

  margin: 3px 0;
}
.percent-discount {
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

.black {
  color: var(--accent-eight);
}

.price-div {
  font-weight: 600;
}

.price {
  font-size: x-large;
  margin-right: 2px;
}
.details-container {
  margin: 4px 0;
}
.about-item-cont {
  margin: 2px 0;
}
.slogan {
  margin: 4px 0;
}