.size-select {
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.size-span {
  margin-right: 3px;
  font-size: larger;
}

[data-theme="dark"] .custom-select {
  appearance: var(--appearance);
  cursor: pointer;
  padding: var(--padding);
  margin-left: 6px;
  border-radius: 5px;
  background-image: var(--bkimg);
  background-repeat: no-repeat;
  background-position: var(--bkgpos);
  outline: var(--outline);
  background-size: 12px;

  border: var(--border);
  border-bottom: var(--border-btm);
  color:var(--accent-ten);
  background-color: var(--accent-four);
}


[data-theme="dark"] .custom-select:hover {
  border-bottom-color: rgba(65, 129, 0, 0.616);
}

[data-theme="dark"] .custom-select:focus {
  outline:none;
  border-bottom-color: #73ff00;
}
[data-theme="dark"] .custom-select option {
  background-color: var(--accent-one);
}