.style-options-container {}

.style-title-container {}

.style-title {
  font-weight: 600;
}

.style-name {}
.style-mini-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 5px;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
  border: solid 2px rgba(128, 128, 128, 0.551);
}
.style-mini-pic:hover {
  outline: double 4px rgb(118, 200, 227);
}