.selector-container {
  border: inset chartreuse 2px;
  padding: 20px;
  /* height: 1500px;
  position: relative; */
}

.selector-advertisement {
  color: white;
  text-align: center;
  padding: 0 0 20px 0;
}

.selector-components {
  /* sticky attempt */
  /* position: relative; */
  width: 100%;
  display: flex;
}

.selector-functional-components {
  border: solid green 2px;
  width: 50%;
}