.qa-container {
  position: relative;
  width: 800px;
  height: 800px;
  border-style: none;
  margin: 0 auto;
  transform: translate(0%, 0%);
}

.answer-header {
  font-weight: bold;
}

.question-body {
  font-weight: bold;
}

.load-more-answers {
  cursor: pointer;
  color: rgba(48, 45, 45, 0.901);
  overflow-y: hidden;
}

.full-answers {
  cursor: pointer;
  max-height: 250px;
  overflow-y: scroll;
}

.search-bar {
  width: 500px;
  height: 40px;
  border: 1px solid rgba(14, 2, 2, 0.901);
}

.questions-list {
  max-height: 650px;
  overflow-y: scroll;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 241, 241, 0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -60%;
  top: 0;
  /* transform: translate(0%, -50%); */
}

.modal-container {
  width: 650px;
  height: 600px;
  border-radius: 12px;
  border-width: 2px;
  background-color: rgb(238, 233, 233);
  box-shadow: rgba(218, 161, 161, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  transform: translate(-25%, -10%);
  /* top: 50%;
  left: 50%; */
  z-index: 1000;
}

.modal-close-button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.modal-title {
  display: inline-block;
  text-align: center;
}

.modal-body {
  margin-top: 30px;
  margin-bottom: 20px;

}

.question-input,
.answer-input {
  width: 400px;
  height: 100px;
  max-width: 550px;
  max-height: 200px;
}

.nickname-input,
.email-input {
  width: 300px;
  height: 25px;

}

.modal-footer {
  margin-top: 20px;
}

.uploadedImg {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}