.qa-container {
  position: relative;
  width: 800px;
  height: 800px;
  border-style: none;
  margin: 0 auto;
  transform: translate(0%, 0%);
}

.section-title {
  color: rgba(47, 40, 40, 0.75);
  margin-bottom: 20px;
  font-weight: 100;
}

.answer-header {
  font-weight: bold;
}

.answer-section {
  margin: 0px 0 5px 0;
}

.question-title {
  margin: 30px 0 0 0;
}

.question-body {
  font-weight: bold;
  display: inline;
}

.load-more-answers {
  cursor: pointer;
  color: rgba(48, 45, 45, 0.901);
  overflow-y: hidden;
}

.full-answers {
  cursor: pointer;
  max-height: 250px;
  overflow-y: scroll;
}

.search-bar {
  width: 790px;
  height: 60px;
  border: 3px solid rgba(47, 40, 40, 0.55);
  margin-bottom: 10px;
}

.questions-list {
  max-height: 650px;
  overflow-y: scroll;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 241, 241, 0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -60%;
  top: 0;
  /* transform: translate(0%, -50%); */
}

.modal-container {
  width: 650px;
  height: 600px;
  border-radius: 12px;
  border-width: 2px;
  background-color: rgb(238, 233, 233);
  box-shadow: rgba(10, 11, 11, 0.509) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  transform: translate(-25%, -20%);
  /* top: 50%;
  left: 50%; */
  z-index: 1000;
}

.modal-close-button {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.modal-title {
  display: inline-block;
  text-align: center;
}

.modal-body {
  margin-top: 30px;
  margin-bottom: 20px;

}

.modal-footer {
  margin-top: 0 10px;
}

.question-input,
.answer-input {
  width: 400px;
  height: 100px;
  max-width: 550px;
  max-height: 200px;
}

.nickname-input,
.email-input {
  width: 300px;
  height: 25px;

}

.uploadedImg {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}

.popup {
  position: fixed;
  top: 40%;
  left: 30%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(241, 236, 236);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(218, 161, 161, 0.35) 0px 5px 15px;
  z-index: 1000;
  display: none;
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(241, 236, 236);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(218, 161, 161, 0.35) 0px 5px 15px;
  z-index: 1000;
  display: block;
}

.buyer-photos {
  width: auto;
  height: 25%;
  max-width: 150px;
  max-height: 120px;
  padding: 10px 10px;
}

.break {
  margin-bottom: 10px;
  color: rgba(113, 110, 110, 0.653);
}

.question-property {
  display: inline;
  float: right;
  color: rgba(47, 40, 40, 0.615);
}


