@import './reset.css';
@import './components/header/header.css';
@import './components/qa/qa.css';
@import './components/relatedComparison/related_comp.css';
@import './components/reviewRating/review_rating.css';
@import './components/styleSelect/selector.css';
@import './components/styleSelect/imageGallery.css';
@import './components/styleSelect/styleoptions.css';
@import './components/styleSelect/sizeoptions.css';


.innerApp {
  display: flex;
  width: 80%;
  margin: auto;
flex-direction: column;
align-items: center;
justify-content: center;
}