* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}


[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}